* {
    margin: 0;
    padding: 0;
  }

body {
    margin: 0 !important;
    padding: 0 !important;
    /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
    overflow-y: scroll;
    font-family: "Dosis", sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.example::-webkit-scrollbar {
    display: none;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.content {}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    margin: 0 !important;
    padding: 0 !important;
    background-color: black;
}

.dataContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* align-content: flex-star; */
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
}

.asideleft {

}

.footer {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background-color: aqua;
}

@media all and (min-width: 800px) {

    .asideleft {
        order: 1;
    }

    .content {
        order: 2;
        flex: 3;
        
    }
}