.d-card {
    width: 400px;
    max-width: 400px;
    margin: 10px;
    background-color: white;
    position: relative;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.d-card-header {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 100%;
    /* background-color: azure; */
    color: lightgray;
    /* background-color: #2c3e50; */
    /* min-height: 250px; */
    max-height: 80px;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
    /* white-space: pre-line; */
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-weight: 900;
    border-radius: 1rem 1rem 0rem 0rem;
}

.d-card-groops {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative; */
}

.d-card-groop {
    display: flex;
    align-items: center;
    /* margin-top: 1rem; */
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    position: relative;
}

.d-card-groop p {
    /* margin-top: -0.7rem; */
}

.d-card-groop h4 {
    margin-top: 0.5rem;
}

.d-card-groop-content {
    margin-left: -1em;
}

.d-icon-wrapper {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    margin-left: 1rem;
    transition: transform 1s;
}

.d-icon-wrapper.vpn {
    background: linear-gradient(45deg, #3b5998, #0078d7);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.d-icon-wrapper.domain {
    background: linear-gradient(45deg, #333333, #4f8d3c);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.d-icon-wrapper.profile {
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.d-icon-wrapper.server {
    background: linear-gradient(45deg, #333333, #626b73);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-left: 0;
}

.d-icon-wrapper i {
    font-size: 2rem;
    color: #fff;
}